__pycache__/
venv/
.venv/
.env/
build/
dist/

.idea/
!.idea/misc.xml
!.idea/modules.xml
!.idea/*.iml

/src/.env
/src/*.csv
/src/*.json
/src/normalization_methods/llm/*.json
/src/analysis/wikidata_cache.json
/src/analysis/*.csv
/src/analysis/*.json

/data/
